/* Default Style */
body {
	min-width: 15em;
	font: normal 100% Helvetica, Arial, sans-serif;
}

.laureateList {
	min-width: 140px;
	max-width: 960px;
	margin: 0 auto;
}


.shortLaureate {
	width: 80%;
	padding: 0.5em;
	margin: 0.5em auto;
   	background-color: #f3efd8; 
   	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddcf99), to(#f8f6ea));
   	background-image: -webkit-linear-gradient(top, #ddcf99, #f8f6ea); 
   	background-image:    -moz-linear-gradient(top, #ddcf99, #f8f6ea);
   	background-image:     -ms-linear-gradient(top, #ddcf99, #f8f6ea);
   	background-image:      -o-linear-gradient(top, #ddcf99, #f8f6ea);
   	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
    border-color: 2px solid red;
}

.shortLaureate a {
	text-decoration: none;
	color: black;
}

.shortLaureate h1 {
	color: #820000;
}

.shortLaureate p {
	color: #585754;
  width: 50%;
  float: left;
}

.shortLaureate img {
	width: 68px;
}

.shortLaureate > a > p {
  background-image: url(../images/headshots.jpg);
  background-repeat: no-repeat;
  height: 86px;
  padding-left: 86px;
  margin-left: 10px;
}

#arrow1972 > a > p {
  background-position: 0px 0px;
}

#berg1980 > a > p {
  background-position: 0px -86px;
}

#chu1997 > a > p {
  background-position: 0px -172px;
}
#laughlin1998 > a > p {
  background-position: 0px -258px;
}
#osheroff1996 > a > p {
  background-position: 0px -344px;
}
#perl1995 > a > p {
  background-position: 0px -430px;
}
#richter1976 > a > p {
  background-position: 0px -516px;
}
#scholes1997 > a > p {
  background-position: 0px -602px;
}
#sharpe1990 > a > p {
  background-position: 0px -688px;
}
#spence2001 > a > p {
  background-position: 0px -774px;
}
#stiglitz2001 > a > p {
  background-position: 0px -860px;
}
#taylor1990 > a > p {
  background-position: 0px -946px;
}



@media screen and (min-width: 27em) {
	.shortLaureate {
		max-width: 42%;
		min-height: 10em;
		float: left;
		margin: 0.5em;
	}
	.shortLaureate img {
		float: right;
		padding: 0;
	}
}

@media screen and (min-width: 45em) {
	.shortLaureate {
		padding: 0.25em;
		margin: 0.33em;
		width: 30%;
	}
}

@media screen and (min-width: 60em) {
	.shortLaureate {
		padding: 0.25em;
		margin: 0.4em;
		width: 22%;
	}
}
